jericho==3.1.0
pytorch-crf==0.7.0
pytorch-nlp==0.5.0
redis==4.0.2
sentencepiece==0.1.91
spacy==2.1.6
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==1.8
torch==1.8.1
torchaudio==0.8.1
torchfile==0.1.0
torchtext==0.4.0
torchvision
py4j
pyyaml
scienceworld
